.Nav {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
}

.Nav a {
  /* background-color: #232D3F; */
  /* background-color:  rgb(24, 24, 24); */
  padding: 10px;
  border-radius: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}

.Normal, .Current {
  width: 100%;
  border: none;
  border-right: 1px solid rgb(31, 31, 31);
  background-color: rgb(236, 91, 37);
}

#Today {
  border-bottom: 7px solid teal;
  border-radius: 0 0 5px 5px;
}

.Current {
  background-color: rgba(236, 90, 37, 0.502);
}

.Normal:hover, .Current:hover {
  animation: shiftAndMoveAnimation 0.7s ease-in-out forwards;
}

@keyframes shiftAndMoveAnimation {
  to {
    background-color: teal;
    transform: translateY(7px); 
    border-radius: 0 0 20% 20%;
  }
}